
/MyTemplateProcessor/.vs/MyTemplateProcessor/v17
/MyTemplateProcessor/.vs/MyTemplateProcessor/FileContentIndex
/MyTemplateProcessor/MyTemplateProcessor/obj
/MyTemplateProcessor/MyTemplateProcessor/bin
/MyTemplateProcessor/.vs
